body {
	background: #76b852; /* fallback for old browsers */
	background: -webkit-linear-gradient(right, #76b852, #8DC26F);
	background: -moz-linear-gradient(right, #76b852, #8DC26F);
	background: -o-linear-gradient(right, #76b852, #8DC26F);
	background: linear-gradient(to left, #76b852, #8DC26F);
	text-align: center;
	font-family: "Roboto", sans-serif;
}
.main {
  	position: absolute;
  	left: 50%;
  	top: 50%;
  	width: 400px;
  	transform: translate(-50%, -50%);
  	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  	padding: 10px;
  	background: white;
}
h2 { 
	color: red;
}
.info {
	font-size: 16px;
	font-weight: 200;
}
.links {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}
a {
	text-decoration: none;
	color: gray;
	font-size: 20px;
	font-weight: 200;
}
a:hover {
	color: green;
}