.product-content {
    width: 100%;
    height: 100%;
    background-color: #fff;
    margin: 20px 0;
    padding: 40px;
}
.product-header {
    display: flex;
}
.product-header img {
    width: 300px;
    height: 300px;
}
.product-info {
    margin: 40px;
}
.product-info h2 {
    font-size: 25px;
    font-weight: 900;
}
.product-info p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0.5px;
    line-height: 1.5;
    margin: 15px 0;
}
.product-info p input {
    border-bottom: 2px solid green;
    font-size: 13px;
}
.product-btn {
    padding: 10px 20px;
    margin: 20px 0;
    font-size: 17px;
    font-weight: 900;
    background-color: #80b848;
    color: #fff;
    float: right;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}
/* about */
.about-us, .contact {
    width: 100%;
    background-color: #fff;
    padding: 40px;
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.about-info {
    width: 40%;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
.about-us h3 {
    font-weight: 900;
    font-size: 18px;
    padding: 10px 0;
    letter-spacing: 0.5px;
}
.about-us p {
    letter-spacing: 0.5px;
    line-height: 1.5;
    color: #999;
}
.contact-card {
    width: 300px;
    height: 300px;
    border-top: 8px solid #80b848;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.contact-card h3 {
    margin: 10px 0;
    font-size: 17px;
    font-weight: 900;
    letter-spacing: 0.5px;
}
.contact-card p {
    margin: 5px 0;
}
.contact .network {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}