body {
    background-color: #ccc;
}
.wrapper {
    margin-right: auto; /* 1 */
    margin-left:  auto; /* 1 */
  
    max-width: 1200px; /* 2 */
  
    padding-right: 10px; /* 3 */
    padding-left:  10px; /* 3 */
}
.elementor-wget {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: #35363b;
}
.elementor-wget2V {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #35363b;
}
.elementor-wget2V p {
    font-size: medium;
    margin-left: 20px;
    color: white;
}
.elementor-wget2V button {
    font-size: 13px;
    margin-right: 20px;
    border: none;
    background: #35363b;
    letter-spacing: 1.2px;
    color: white;
    font-weight: 500;
}
.elementor-wget2V button:hover {
    color: green;
}
.elementor-wget button {
    border: none;
    background: #35363b;
    color: #FFFFFF;
    letter-spacing: 1.2px;
    padding: 0 10px;
    font-size: 13px;
    font-weight: 500;
}
.elementor-wget button:hover {
    color: green;
}
.header-sidebar {
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-flow: row;
}
.header-sidebar .logo {
    margin: 40px;
}
.sidebar {
    width: 100%;
}
.navbar {
    width: 100%;
    height: 75px;
    padding-left: 60px;
    border: 0.5px solid #eee;
    display: flex;
    flex-flow: row;
    align-items: center;
}
.navbar li, a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;
    font-weight: 900;
    color: #000;
    list-style: none;
}
.navbar a:hover {
    color: #80b848;
    transition: all 02 ease;
}
.searchBasket {
    width: 100%;
    display: flex;
    flex-flow: row;
}
.search {
    width: 80%;
    height: 50px;
}
.search input {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 85%;
    height: 100%;
    padding: 0 10px;
    font-size: 15px;
    border: 0.5px solid #eee;
}
.search .btn-search {
    letter-spacing: 1px;
    background-color: #80b848;
    padding: 19px 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 1000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}
.basket {
    width: 20%;
    background-color: #80b848;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.basket img {
    width: 28px;
    margin: 0 5px;
}
.slider {
    width: 100%;
    height: 40vh;
    background-image: url(img/backgroundSlider.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.slider h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-size: 35px;
    text-transform: uppercase;
    color: #000;
}
.slider .innerAtag {
    padding: 15px 25px;
    border-radius: 25px;
    background-color: #80b848;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 900;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.pagination li a {
    color: #35363b;
}
.pagination li a:hover {
    color: green;
}
.pagination .active {
    border-bottom: 2px solid green;
}
.content {
    width: 100%;
}
.productsHeader {
    width: 100%;
    height: 50px;
    background-color: #fff;
    border-left: 5px solid #80b848;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.productsHeader p, .newsHeader p{
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    letter-spacing: 0.2px;
    font-style: 16px;
    color: #000;
}
.recentProducts {
    background-color: #fff;
    padding: 20px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}
.product {
    width: 200px;
    height: 300px;
}
.product:hover {
    border-bottom: 2px solid #80b848;
    
}
.imgProduct img {
    width: 200px;
}
.textProduct {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.textProduct .nameProduct {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #000;
    letter-spacing: 0.5px;
    font-weight: normal;
    margin-bottom: 10px;
}
.imgContact img {
    width: 100%;
}
.newsHeader {
    width: 100%;
    height: 50px;
    background-color: #fff;
    border-left: 5px solid #80b848;
    margin-top: 20px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.newsBlog {
    width: 100%;
    height: 30vh;
    background-color: #fff;
    border-top: 1px solid #cccccc;
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.newsRead:nth-child(1) {
    background-image: url(img/news/1.jpg);
}
.newsRead:nth-child(2) {
    background-image: url(img/news/2.jpg);
}
.newsRead:nth-child(3) {
    background-image: url(img/news/3.jpg);
}
.newsRead {
    border: 1px solid #000;
    background-color: #80b848;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 340px;
    height: 200px;
}
.newsText {
    width: 150px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.4);
    float: right;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.newsText p {
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.5px;
}
.newsText a {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}
.newsText a p {
    color: #fff;
    display: flex;
    font-weight: 900;
    letter-spacing: 1px;
}
.newsText a p:hover {
    color: #80b848;
    transition: all 0.5s ease;
}
.footer {
    width: 100%;
    background: #35363b;
    display: flex;
    justify-content: space-between;
}
.footerNav {
    padding: 30px;
}
.footerNav h2,.footerContact h2 {
    color: #fff;
    font-weight: 900;
    letter-spacing: 1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
    text-transform: uppercase;
    padding: 10px 0;
}
.footerContact p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.footerNav nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.footerNav li {
    list-style: none;
    padding: 10px 0;
}
.footerNav li a:hover {
    color: #80b848;
}
.footerNav li a {
    color: #ccc;
}
.footerContact {
    margin: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
}
.footerContact p {
    color: #ccc;
    margin: 5px 0;
}
.copyright {
    width: 100%;
    height: 40px;
    border-top: 1px solid #ccc;
    background-color: #35363b;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyright p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ccc;
    letter-spacing: 1px;
}
.blogHeader {
    width: 100%;
    height: 50px;
    background-color: #fff;
    margin: 20px 0;
    display: flex;
    align-items: center;
    border-left: 5px solid #80b848;
}
.blogHeader p {
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    letter-spacing: 0.2px;
    font-style: 16px;
    color: #000;
    margin-left: 10px;
}
.blogContent {
    width: 100%;
    background-color: #fff;
    padding-bottom: 30px;
    margin-bottom: 20px;
}
.blogContent img {
    width: 100%;
}
.blogContent h2 {
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 20px;
}
.blogContent p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: 12px;
    font-style: italic;
    padding: 10px 30px;
    line-height: 1.5;
}
.contentBasket {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.basketHeader {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    background-color: #fff;
    border-left: 5px solid #80b848;
    display: flex;
    align-items: center;
    padding-left: 15px;
}
.basketHeader h2 {
    font-weight: 900;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0.5px;
}
.purchaseInBasket {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 25px;
    margin: 20px 0;
    padding: 30px;
}
.listProduct {
    padding-top: 50px;
}
/* form */
.product-image {
    float: left;
    width: 20%;
  }
  
  .product-details {
    float: left;
    width: 37%;
  }
  
  .product-price {
    float: left;
    width: 12%;
  }
  
  .product-quantity {
    float: left;
    width: 10%;
  }
  
  .product-removal {
    float: left;
    width: 9%;
  }
  
  .product-line-price {
    float: left;
    width: 12%;
    text-align: right;
  }
  
  /* This is used as the traditional .clearfix class */
  .group:before, .shopping-cart:before, .column-labels:before, .product-inner:before, .totals-item:before,
  .group:after,
  .shopping-cart:after,
  .column-labels:after,
  .product-inner:after,
  .totals-item:after {
    content: "";
    display: table;
  }
  
  .group:after, .shopping-cart:after, .column-labels:after, .product-inner:after, .totals-item:after {
    clear: both;
  }
  
  .group, .shopping-cart, .column-labels, .product-inner, .totals-item {
    zoom: 1;
  }
  
  /* Body/Header stuff */
  body {
    padding: 0px 30px 30px 20px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
  }
  
  h1 {
    font-weight: 100;
  }
  
  label {
    color: #aaa;
  }
  
  .shopping-cart {
    margin-top: -45px;
  }
  
  /* Column headers */
  .column-labels label {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
  }
  .column-labels .product-image, .column-labels .product-details, .column-labels .product-removal {
    text-indent: -9999px;
  }
  
  /* Product entries */
  .product-inner {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
  }
  .product-inner .product-image {
    text-align: center;
  }
  .product-inner .product-image img {
    width: 100px;
  }
  .product-inner .product-details .product-title {
    margin-right: 20px;
    font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
  }
  .product-inner .product-details .product-description {
    margin: 5px 20px 5px 0;
    line-height: 1.4em;
  }
  .product-inner .product-quantity input {
    width: 40px;
    border-bottom: 2px solid #80b848;
  }
  .product-inner .remove-product {
    border: 0;
    padding: 4px 8px;
    background-color: #c66;
    color: #fff;
    font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
    font-size: 12px;
    border-radius: 3px;
  }
  .product-inner .remove-product:hover {
    background-color: #a44;
  }
  
  /* Totals section */
  .totals .totals-item {
    float: right;
    clear: both;
    width: 100%;
    margin-bottom: 10px;
  }
  .totals .totals-item label {
    float: left;
    clear: both;
    width: 79%;
    text-align: right;
  }
  .totals .totals-item .totals-value {
    float: right;
    width: 21%;
    text-align: right;
  }
  .totals .totals-item-total {
    font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
  }
  
  .checkout {
    float: right;
    border: 0;
    margin-top: 20px;
    padding: 6px 25px;
    background-color: #6b6;
    color: #fff;
    font-size: 25px;
    border-radius: 3px;
  }
  
  .checkout:hover {
    background-color: #494;
  }
  
  /* Make adjustments for tablet */
  @media screen and (max-width: 650px) {
    .shopping-cart {
      margin: 0;
      padding-top: 20px;
      border-top: 1px solid #eee;
    }
  
    .column-labels {
      display: none;
    }
  
    .product-image {
      float: right;
      width: auto;
    }
    .product-image img {
      margin: 0 0 10px 10px;
    }
  
    .product-details {
      float: none;
      margin-bottom: 10px;
      width: auto;
    }
  
    .product-price {
      clear: both;
      width: 70px;
    }
  
    .product-quantity {
      width: 100px;
    }
    .product-quantity input {
      margin-left: 20px;
    }
  
    .product-quantity:before {
      content: "x";
    }
  
    .product-removal {
      width: auto;
    }
  
    .product-line-price {
      float: right;
      width: 70px;
    }
  }
  /* Make more adjustments for phone */
  @media screen and (max-width: 350px) {
    .product-removal {
      float: right;
    }
  
    .product-line-price {
      float: right;
      clear: left;
      width: auto;
      margin-top: 10px;
    }
  
    .product-inner .product-line-price:before {
      content: "Item Total: $";
    }
  
    .totals .totals-item label {
      width: 60%;
    }
    .totals .totals-item .totals-value {
      width: 40%;
    }
  }
.user-info {
    width: 100%;
    border-bottom: 1px solid #eee;
    margin-bottom: 50px;
}
.user-header {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    margin: 20px 0;
}
.user-inner {
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.user-inner input {
    width: 30%;
    height: 40px;
    padding: 5px 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}







