<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <display-name>Final Project JavaEE</display-name>
    <description>
      Final Project for JavaEE class
    </description>

    <servlet>
        <servlet-name>  controller-servlet       </servlet-name>
        <servlet-class>	Main.Controller			</servlet-class>
        <init-param>
          <param-name>    jdbcDriverName          </param-name> 
	      <param-value>   oracle.jdbc.driver.OracleDriver   </param-value>
        </init-param>
        <init-param>
          <param-name>    jdbcURL                 </param-name> 
	      <param-value>   jdbc:oracle:thin:@//localhost:1521/orcl </param-value>
        </init-param>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>  controller-servlet        </servlet-name>
        <url-pattern>   *.do                     </url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>   main.do   </welcome-file>
    </welcome-file-list>

</web-app>
